/*
  shipclass.rc - Resources for SHIPCLASS.DLL.

  Jason Hood, 24 December, 2009.
*/

#include <windows.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  0, "Bomber"
  1, "Super Heavy Fighter"
  2, "Transport"
  3, "Train"
  4, "Heavy Transport"
  5, "Super Train"
  6, "Liner"
  7, "Gunboat"
  8, "Frigate"
  9, "Cruiser"
 10, "Heavy Miner"
 11, "Battlecruiser"
 12, "Battleship"
 13, "Carrier"
 14, "Dreadnought"
 15, "Repair Ship"
}


1 VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS	       0x40004
FILETYPE       0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName",     "Jason Hood"
      VALUE "FileDescription", "Additional ship classes"
      VALUE "FileVersion",     "1.00"
      VALUE "ProductName",     "Freelancer"
      VALUE "ProductVersion",  "1, 0, 0, 0"
      VALUE "Comments",        "http://freelancer.adoxa.cjb.net/"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04B0
  }
}
